body{
    text-align: center;
    background-color: #b7fbff;
    color: #32dbc6;
}

hr {
  border-style: dotted;
  border-top:: 10px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 5%;
  height: 10px;
  color: #45b29a;
  border-width: 5px;
  padding-bottom: 20px;
}

h2 {
  font-family: 'ZCOOL XiaoWei', serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Gothic A1', sans-serif;
}

a {
  text-decoration: none !important;
  color: #32dbc6;
  font-style: italic;
}

a:hover {
  color: grey;
}

.heading {
  font-family: 'ZCOOL XiaoWei', serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Great Vibes', cursive;
  color: #32dbc6;
  width: 100%;
  display: inline-block;
  margin-top: 100px;
  padding-top: 1px;
  padding-bottom: 30px;
}

.subheading {
  margin-top: 30px;
  font-family: 'ZCOOL XiaoWei', serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Gothic A1', sans-serif;
  color: #32dbc6;
  font-size: 15px;
  padding-bottom: 20px;
}

.profile_pic {
  width: 30%;
  position: relative;
  height: 170px;
  width: 170px;
  padding-bottom: 20px;
}

.techimage {
  position: relative;
  display: inline;
  margin-top: 10px;
  margin-right: 20px;
  height: 70px;
  opacity: 0.1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.techimage:hover {
  opacity: 1;
}

.skill-row {
  padding-bottom: 20px;
}

.contact-me {
  padding-bottom: 20px;
}
